<% @article.comments.each do |comment| %>

	<p>
	  <strong>User:</strong>
	  <%= comment.user.username %>
	</p>
	 
	<p>
	  <strong>Comment:</strong>
	  <%= comment.body %>
	</p>
	<%= time_ago_in_words(comment.created_at) %>

	<%= link_to 'Delete comment', article_comment_path(comment.article, comment), method: :delete, data: {confirm: 'Are you sure, bro?'} %>

<% end %>
<!-- [comment.article, comment] -->